html {
  scroll-behavior: smooth;
}
body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
#forside {
  height: 100vh;
  width: 100%;

  background-image: url(img/billede3.jpg);
  background-position: center;
  background-size: cover;
}
h1 {
  max-width: 20rem;
  margin-left: 2rem;
  margin-top: auto;
}
